@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.site-container {
  margin: auto;
  @apply 2xl:w-siteWidth2xl xl:w-siteWidthxl lg:w-siteWithLarge md:w-siteWithMedium px-4 md:px-0;
}

.purple-button {
  transition: background 0.25s ease-in-out;
  @apply bg-purple-600 py-2 px-4 text-white text-center mr-4 font-semibold hover:bg-purple-800 cursor-pointer rounded;
}

.welcome-login {
  transition: font-size 0.25s ease-in-out;
  @apply hover:text-lg cursor-pointer;
}

.popup {
  background: rgba(0, 0, 0, 0.2);
  @apply fixed top-0 left-0 w-full h-full flex justify-center items-center z-50;
}

.popup-content {
  @apply bg-white rounded p-4 w-full sm:w-96 mx-4 sm:my-0 shadow md:mb-96;
}

.text-input {
  transition: border-color 0.25s ease-in-out;
  @apply w-full px-4 py-2 focus:outline-none border-2 focus:border-purple-600 text-sm rounded;
}

.register-text-input {
  transition: border-color 0.25s ease-in-out;
  @apply focus:outline-none border-b-2 focus:border-purple-600 px-1 py-1 w-full sm:w-96;
}

.icon-button {
  transition: background 0.25s ease-in-out;
  @apply cursor-pointer hover:bg-gray-300 rounded;
}

.black-button {
  @apply cursor-pointer px-4 py-2 bg-black my-2 rounded text-white text-center;
}

.header {
  @apply my-4 sm:my-8 md:my-12;
}

.textarea {
  transition: outline-color 0.25s ease-in-out;
  -webkit-transition: outline-color 0.25s ease-in-out;
  -moz-transition: outline-color 0.25s ease-in-out;
  -o-transition: outline-color 0.25s ease-in-out;
  @apply border w-full rounded resize-none text-sm py-1 px-2 focus:outline-purple-600 outline-white;
}

.selective-button {
  transition: all 0.25s ease-in-out;
  @apply mr-2 my-1 py-1 px-2 rounded border-2;
}

.selective-button-skeleton {
  @apply bg-gray-300 h-10 w-24 mr-2 my-1;
}
