@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.site-container {
  margin: auto;
  @apply 2xl:w-siteWidth2xl xl:w-siteWidthxl lg:w-siteWithLarge md:w-siteWithMedium px-4 md:px-0;
}

.purple-button {
  transition: background 0.25s ease-in-out;
  @apply bg-purple-600 py-2 px-4 text-white w-72 text-center mr-4 font-semibold hover:bg-purple-800 cursor-pointer;
}

.welcome-login {
  transition: font-size 0.25s ease-in-out;
  @apply hover:text-lg cursor-pointer;
}

.popup {
  background: rgba(0, 0, 0, 0.2);
  @apply fixed top-0 left-0 w-full h-full flex justify-center items-center z-50;
}

.text-input {
  transition: border-color 0.25s ease-in-out;
  @apply w-full px-4 py-2 focus:outline-none border-2 border-black focus:border-purple-600 text-sm rounded;
}

.icon-button {
  transition: background 0.25s ease-in-out;
  @apply cursor-pointer hover:bg-gray-300 rounded;
}

.black-button {
  @apply cursor-pointer px-4 py-2 bg-black my-2 rounded text-white text-center;
}
